<div class="chats">
  <h2><%= @user.name %>さんとのチャット</h2>
  <div class="chat">
    <% if @chats.present? %>
      <table id="js-table-message" class="table-no-border">
        <%= render 'chats/message', chats: @chats %>
      </table>
    <% end %>
  </div>
  <div class="post">
    <%= form_with(model: @chat, remote: true) do |f| %>
      <%= f.text_field :message, id:"message" %>
      <%= f.hidden_field :room_id, value: @room.id %>
    <% end %>
  </div>
</div>